.example-spacer {
    flex: 1 1 auto;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    padding-left: 100px;
  }
  
  td {
    padding-right: 8px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .fundo{
    background-color: #222;
    max-width: 700px;
  }
  .cor{
    color: antiquewhite;
  }
  .example-tree-progress-bar {
    margin-left: 30px;
  }
  ::placeholder{
    color: rgb(255, 255, 255);
  }
  input{
    color: antiquewhite;
  }